@import "../../styles/variables.scss";
@import "bootstrap/scss/mixins";
.gray-section {
  background-image: url("../../public/images/yacht-fleet-bg.png");
  padding-top: 100px;
  padding-bottom: 100px;
  @include media-breakpoint-down(md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.banner-image-aboutus {
  height: 500px;
  width: 900px !important;
  margin-left: 300px;
  margin-top: 100px;
  @include media-breakpoint-down(lg) {
    height: 200px;
    width: 330px !important;
    margin-left: 20px;
  }
}
.carousel-aboutus {
  @include media-breakpoint-down(lg) {
    display: none;
  }
}
.mobile-images {
  display: none;
  @include media-breakpoint-down(lg) {
    display: block;
  }
}
.updated-yachts-title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 40px;
}
.updated-yacht-fleet {
  p:first-child {
    font-size: 40px;
    font-weight: 700;
    margin-top: 60px;
  }
  p:second-child {
    font-size: 14px;
  }
}
.boat-features {
  margin-top: 50px;
  p {
    font-size: 16px !important;
    font-weight: 600 !important;
  }
}
