.second-header-comp {
  margin-top: 100px;
}
.happyandsatisfied {
  border-top-left-radius: 700px 70px !important;
  border-top-right-radius: 700px 70px !important;
}
.event-buttons {
  border-radius: 30px;
  background-color: rgb(245, 245, 245);
}
